@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --text: hsl(200, 15%, 8%);
  --element-background: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --input: hsl(0, 0%, 52%);
}

html {
  font-size: 14px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background, #ffd);
  color: var(--text, #000);
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.flag {
  aspect-ratio: 5/3;
  display: block;
}

/* ################ header ################ */
header {
  padding-inline: min(4vw, 5rem);
  background-color: var(--element-background, #fff);
  box-shadow: 0 0px 4px 0 hsla(0, 0%, 0%, 0.2);
  height: 80px;
}
header h1 {
  font-size: 1rem;
}
header .theme-button {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 0.85rem;
  color: var(--text, #000);
}
header .theme-button svg {
  fill: var(--text, #000);
  font-size: 1.09rem;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main */
main {
  margin-bottom: 33vh;
}
main .button-container {
  margin-bottom: 4rem;
}

/* ################ search bar ################ */
section#search-bar {
  padding-inline: min(5vw, 4rem);
  margin-block: 1.7rem;
}
section#search-bar .container {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
section#search-bar .closest-country-message {
  cursor: pointer;
  color: hsl(200, 100%, 50%);
  font-size: 0.9rem;
  margin-left: 0.9rem;
  margin-top: 0.3rem;
}
section#search-bar .closest-country-message .strong {
  font-style: italic;
  font-weight: 600;
}
section#search-bar .closest-country-message:hover {
  text-decoration: underline;
}
section#search-bar .select-lists-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Country List */
section#countries {
  padding: 1rem min(14vw, 3rem);
}
section#countries .container {
  display: grid;
  -moz-column-gap: 5.5rem;
       column-gap: 5.5rem;
  row-gap: 3rem;
  justify-content: space-between;
  align-items: stretch;
}

.country {
  background-color: var(--element-background, #fff);
  overflow: hidden;
  border-radius: 0.4rem;
  max-width: 450px;
  transition-property: transform;
  transition-duration: 0.2s;
}
.country .description {
  padding: 1.5rem 1.8rem 2.8rem;
}
.country h3 {
  font-size: 1.3rem;
  margin-bottom: 0.9rem;
}
.country .key-value-list li {
  font-size: 1.05rem;
}

.country:hover {
  transform: scale(1.07);
}

/* #### Detail Page #### */
section#details {
  padding-inline: min(8vw, 3rem);
  margin-top: 3rem;
}
section#details .flag {
  margin-bottom: 3rem;
}
section#details h2 {
  margin-bottom: 1.7rem;
  font-size: 1.7rem;
}
section#details .lists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}
section#details .key-value-list li {
  font-size: 1.02rem;
}
section#details .border-countries-container strong {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  display: block;
}
section#details .border-countries-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
section#details .border-countries-list .btn {
  background-color: var(--element-background, #fff);
  color: var(--text, #000);
  padding: 0.5rem 2rem;
  display: block;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  section#countries .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 676px) {
  section#details .lists {
    flex-direction: row;
    gap: min(4.5rem, 6vw);
  }
  section#details .key-value-list li {
    font-size: 1.1rem;
  }
}
@media (min-width: 756px) {
  header h1 {
    font-size: 1.7rem;
  }
  header .theme-button {
    font-size: 1.2rem;
  }
  header .theme-button svg {
    font-size: 1.25rem;
  }
  section#search-bar {
    margin-block: 3.5rem;
  }
  section#search-bar .container {
    justify-content: space-between;
    flex-direction: row;
  }
  section#search-bar .search-input-container {
    width: min(100%, 480px);
  }
  section#search-bar .closest-country-message {
    font-size: 1rem;
  }
  section#search-bar .field-container svg {
    font-size: 1.2rem;
  }
  section#search-bar .select-lists-container {
    flex-direction: row;
  }
  section#search-bar .field-container,
  section#search-bar .select-field {
    height: 55px;
  }
  section#search-bar .select-field,
  section#search-bar .field {
    font-size: 1.1rem;
  }
}
@media (min-width: 856px) {
  section#countries .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  section#details .button-container {
    margin-bottom: 6rem;
  }
  section#details .button-container .btn {
    font-size: 1.2rem;
  }
  section#details .flag {
    margin-inline: auto;
  }
  section#details h2 {
    font-size: 2.3rem;
  }
  section#details .key-value-list li {
    font-size: 1.2rem;
  }
  section#details .lists {
    margin-bottom: 5.5rem;
  }
  section#details .border-countries-list .btn {
    font-size: 1rem;
  }
}
@media (min-width: 992px) and (orientation: landscape) {
  section#details {
    margin-top: 13vh;
  }
  section#details .country-info {
    display: flex;
    gap: min(10vw, 10rem);
  }
  section#details .flag {
    width: 45%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  section#countries .container {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=index.css.map */