@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --text: hsl(200, 15%, 8%);
  --element-background: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --input: hsl(0, 0%, 52%);
}

html {
  font-size: 14px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background, #ffd);
  color: var(--text, #000);
}

.select-field,
.field-container,
.country,
.options-list {
  box-shadow: 0 0px 7px 0 hsla(0, 0%, 0%, 0.07);
}

.select-field,
.field-container {
  display: flex;
  align-items: center;
  background-color: var(--element-background, #fff);
  border-radius: 0.2rem;
  height: 50px;
}

.field-container {
  cursor: text;

  .field {
    color: var(--text, #000);
  }

  .icon,
  .field::placeholder {
    color: var(--input, #fff);
    display: block;
  }

  svg {
    margin-inline: 2rem;

    > * {
      fill: var(--input, #fff);
    }
  }

  .field {
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
  }
}

.select-field {
  --inner-padding: 1.5rem;
  position: relative;
  width: 200px;
  justify-content: space-between;
  cursor: pointer;

  padding-inline: var(--inner-padding, 1.5rem);
  font-size: 0.9rem;

  .select-value {
    color: var(--text, #000);
  }

  .options-list {
    position: absolute;
    width: 100%;
    top: calc(100% + 0.5rem);
    left: 0;

    background-color: var(--element-background, #fff);
    border-radius: 0.2rem;
    padding-block: 0.8rem;

    opacity: 0;
    pointer-events: none;

    li {
      color: hsl(200, 15%, 8%);
      padding: 0.2rem var(--inner-padding, 1.5rem);
      transition: background-color 0.3s;
      color: var(--text, #000);
    }
    li:hover {
      background-color: var(--background, hsl(0, 0%, 98%));
    }
  }

  .options-list.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

/* ################ header ################ */
header {
  padding-inline: min(4vw, 5rem);
  background-color: var(--element-background, #fff);
  box-shadow: 0 0px 4px 0 hsla(0, 0%, 0%, 0.2);
  height: 80px;

  h1 {
    font-size: 1rem;
  }

  .theme-button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    font-size: 0.85rem;
    color: var(--text, #000);

    svg {
      fill: var(--text, #000);
      font-size: 1.09rem;
    }
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* ################ search bar ################ */
section#search-bar {
  padding-inline: min(5vw, 4rem);
  margin-block: 1.7rem;

  .field-container {
    margin-bottom: 3rem;
  }
}

/* Country List */
section#countries {
  padding: 1rem min(14vw, 3rem);

  .container {
    display: grid;
    column-gap: 5.5rem;
    row-gap: 3rem;
    justify-content: space-between;
  }
}

.country {
  background-color: var(--element-background, #fff);
  overflow: hidden;
  border-radius: 0.4rem;
  max-width: 450px;

  .description {
    padding: 1.5rem 1.8rem 2.8rem;
  }

  img {
    aspect-ratio: 5 / 3;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
  }
  p {
    font-size: 1.05rem;
    margin-bottom: 0.3rem;
  }
  strong {
    font-weight: 600;
  }
}

@media (min-width: 576px) {
  section#countries {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 756px) {
  header {
    h1 {
      font-size: 1.7rem;
    }

    .theme-button {
      font-size: 1.2rem;

      svg {
        font-size: 1.25rem;
      }
    }
  }

  section#search-bar {
    margin-block: 3.5rem;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .field-container {
      margin: 0;
      width: 490px;

      svg {
        font-size: 1.2rem;
      }
    }

    .field-container,
    .select-field {
      height: 55px;
    }

    .select-field,
    .field {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 856px) {
  section#countries {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  section#countries {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
